body {
    overflow: hidden;
}

#header {
    position:absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;
}

#headertext {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


#content {
    display:flex;
    flex-direction: row;

    position: absolute;
    top: 50px;
    left: 0px;

    width: 100%;
    height: 100%;
    float: left;
}

#sidebar {
    display: inline-block;
    animation-fill-mode: forwards;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    
}

#iframe {
    color: white;
}

.postTitle {
    display: table;
    padding-left: 10px;
    padding-top: 3px;
}

.hide {
    animation-name: hide;
    animation-duration: 1s;
}

.show {
    animation-name: show;
    animation-duration: 1s;
}

@keyframes hide {
    0% {width:200px}
    100%{width:0px}
}

@keyframes show {
    0% {width:0px}
    100%{width:200px}
}


#postcontent {
    width: 100%;
}

blockquote {
    background: black;
    padding: 20px 30px 20px 30px;
    margin: 50px auto;
    width: 50%;
    max-width: 500px;
}

.stacked {
  border: solid 2px;
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white,
              15px 15px 0 0 #0000FF,
              15px 11px 0 0 #0000FF,
              11px 15px 0 0 #0000FF;
}
