html {
    width: 100%;
}

p {
    margin: 0;
    font-size: medium;
}

body {
    font-family: 'Lato', sans-serif;

    background-color: rgb(243, 243, 243);

    margin: min(40%, max(calc(50vw - 500px), 30px));
    margin-top: min(50px, max(calc(100vw - 1000px), 30px));
    margin-bottom: min(50px, max(calc(100vw - 1000px), 30px));
}

.dark-mode {
    background-color: rgb(0, 0, 0);
    color: white;
}



h3 {
    color: gray;
}

/* FLEXBOX OF PROJECTS */

#projectGrid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

#projectGrid a {
    width: clamp(450px, 48%, 48%);
    border-radius: 5px;

    border-color: black;
    border-width: 1px;
    border-style: solid;

    background-color: rgb(210, 210, 210);

    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#projectGrid div {
    width: 100%;
}

#projectGrid  * {
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
}

#projectGrid img {
    width: calc(100% - 10px);
    height: 250px;
    object-fit:scale-down;
}


.img_cover {
    object-fit: cover !important;
}

a {
    text-decoration: none;
    
}

#projectGrid > a {
    transition: background-color 0.5s, transform 0.5s;
}

#projectGrid > a:hover {
    background-color: rgb(140, 140, 140);
    transform: scale(1.05);
}


img {
    width: 100%;
}

h2 {
    margin-top: 50px;
}

footer > * {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    font-size: larger;
}

#links > * {
    color: gray;
}

#links > a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.post-title, .post-date {
    text-decoration: none;
    font-size: large;
}

.post-date {
    text-align: right;
}

header {
    padding-bottom: 20px;
}