#header {
    color:white;
    background-color: black;
}

#headertext {
    color:white;
}


#sidebar {
    background-color: rgb(211, 208, 208);
}

.postTitle {
    color: black;
}

#postcontent {
    background-color: black;
    color: white;
}


body {
    color: white
}