body {
  background-color: antiquewhite;
}

.wrap {
  display: flex;
  color: #444;
  flex-wrap: wrap;
  flex-grow: 1 0 21%;
  width: 100%;
}

.letter {
  font-size: 200%;
}


.itemdiv {
  position: relative;
  text-align: center;
  color: white;
  background-color: #444;

  border-radius: 5px;
  margin: 5px;
  border-color: black;


  flex-wrap: wrap;
  width: 18%;
  height: 15%;
  
}

p {
  color: white;
  font-size: 110%;
  
}

.centereed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  background-color: #444;
  color: #444;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.green {
  background-color: green;
}