body {
  margin: 40px;
  background-color: antiquewhite;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

#grid {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-gap: 10px;
  color: #444;
  width: 66%;
  background-color: grey;
  border-radius: 5px;
  margin: 10px;
}

.item {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.item:hover {
  background-color: rgb(22, 22, 22);
}

.item:focus {
  animation: blinker 1s alternate;
}

.item:active {
  animation: none;
}

@keyframes blinker { 
  to { background-color: yellow; } 
}


#wrapper {
  display: flex;
}

#purchasesdiv {
  background-color: grey;
  border-radius: 5px;
  margin: 10px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.purchases {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}


#purchasesfooter {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.pbottom {
  flex: 1;
}



.green {
  background-color: green;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

